*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}

.navbarShadow{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 36px 0px, rgba(0, 0, 0, 0.006) 0px 0px 0px 1px;
}